@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap");

.about--wrapper {
  background-color: #020a16;
  padding: 0 0 9vh 0;
}

.text--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 80vw;
  margin: 15px;
  display: flex;
  justify-content: center;
  color: #aaafbe;
  font-size: 14px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
