@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap");

.about {
  display: flex;
  background-color: #000b16;
  margin-top: 10em;
  padding-top: 10em;
  justify-content: center;
  align-items: center;
}

.aboutWrapper {
  width: 50vw;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 50vw;
  margin: 1em;
  display: flex;
  justify-content: left;
  color: white;
  font-size: 1rem;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
