@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
      format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
      format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@300&display=swap");

.cards {
  padding: 4rem;
  background: #020a16;
}

.neonSubhead {
  text-align: center;
  font-family: "neontubes";
}

.cardsContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cardsWrapper {
  position: relative;
  margin: 50px 0 45px;
  margin-bottom: 150px;
}

.cardsRow {
  margin-bottom: 24px;
}

.cardsItem {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  box-shadow: 0 0 0 transparent, 0 0 5px #301886, 0 0 8px #0a244e,
    0 0 10px #020a16;
  transition: all 0.1s ease-in-out;
}

.cardsItemLink {
  display: flex;
  flex-flow: column;
  width: 100%;
  /* box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17); */
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  background: #020a16;
}

.cardsItemPicWrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cardsItemPicWrap::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #d42450;

  font-family: "Roboto", sans-serif;
}

.cardsItemImg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cardsRow:hover .cardsItemImg {
  transform: scale(1.1);
}

.cardsItem:hover {
  box-shadow: 0 0 0 transparent, 0 0 5px #301886, 0 0 9px #0e2d5e,
    0 0 15px #0e2d5e, 0 0 30px #08244e;
}

.cardsItem:hover .cardsItemInfo,
.cardsItem:hover .cardsItemLink {
  background-color: #c6e4e4;
}

.cardsItemInfo {
  padding: 0.7rem 1.3rem 0.7rem;
  background-color: #020a16;
  transition: all 0.5s ease-in-out;
  color: #aaafbe;
  font-size: 0.9rem;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}

.cardsItemText {
  transition: all 0.5s ease-in-out;
}

.cardsItemLabelWrap {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  transform: translateY(20rem);
  transition: all 0.7s ease-in-out;
  flex-wrap: wrap;
}

.cardsItemLabel {
  color: transparent;
  border-radius: 15px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  height: 0px;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin-right: 0.3rem;
}

/* Hover animation  */

.cardsItem:hover .cardsItemLabelWrap {
  transform: translateY(0rem);
}

.cardsItem:hover .cardsItemLabel {
  color: #d4eaff;
  background-color: #020a16;
  margin-bottom: 0.3rem;
  height: 1.7rem;
}

.cardsItem:hover .cardsItemText {
  color: #020a16;
}

/* Responsive */

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cardsRow {
    display: flex;
  }

  .cardsItemLabel {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 1024px) {
  .cardsRow {
    margin-bottom: 2rem;
  }
  cardsItemLabelWrap {
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 600px) {
  .cardsItemLabelWrap {
    justify-content: center;
  }
} ;
