@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
      format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
      format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.section-container {
  /* background: url("img-1.jpg") center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  justify-content: center;
}

/* Neon */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #030c1c;
}

.main {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "neontubes";
  /* text-align: center; */
  white-space: nowrap;
}

.main span {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: opacity;
}

.neon--head {
  font-size: 11vw;
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #d42450,
    0 0 20px rgba(173, 26, 60, 0.5), 0 0 40px #d42450, 0 0 100px #e4315e,
    0 0 200px #be2148, 0 0 300px #e2345f, 0 0 500px #d42450, 0 0 1000px #e7426b;
  -webkit-animation: blink 3s infinite alternate;
  animation: blink 3s infinite alternate;
  font-family: "neontubes";
}

.neon--subhead {
  font-size: 4vw;
  color: #324e68;
  text-shadow: 0 0 0 transparent, 0 0 5px #301d78,
    0 0 10px rgba(38, 149, 255, 0.5), 0 0 20px #301d78, 0 0 50px #301d78;
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
  font-family: "neontubes";
  text-decoration: none;
  margin-right: 40px;
  transition: all 0.1s ease-in-out;
}

.main .neon--subhead:hover {
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 5px #3d2692,
    0 0 10px rgba(133, 190, 243, 0.5), 0 0 50px #6646d8, 0 0 100px #6244cf,
    0 0 100px #7a66c2, 0 0 500px #6046be, 0 0 1000px #634bbb;
  -webkit-animation: blink 3s infinite alternate;
  animation: blink 3s infinite alternate;
}

.neon--subhead2 {
  font-size: 3rem;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 5px #3d2692,
    0 0 10px rgba(133, 190, 243, 0.5), 0 0 50px #6646d8, 0 0 100px #6244cf,
    0 0 100px #7a66c2, 0 0 500px #6046be, 0 0 1000px #634bbb;
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
  font-family: "neontubes";
  text-decoration: none;
  margin-right: 40px;
  display: flex;
  justify-content: center;
}

.neon--random {
  font-size: 1.2rem;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 5px #3d2692,
    0 0 5px rgba(133, 190, 243, 0.5), 0 0 6px #6646d8, 0 0 5px #6244cf,
    0 0 5px #7a66c2, 0 0 5px #6046be, 0 0 5px #634bbb;
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
  font-family: "neontubes";
  text-decoration: none;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contacts:hover {
  text-shadow: 0 0 0 transparent, 0 0 5px #3d2692,
    0 0 10px rgba(133, 190, 243, 0.5), 0 0 50px #6646d8, 0 0 100px #6244cf,
    0 0 100px #7a66c2, 0 0 500px #6046be, 0 0 1000px #634bbb;
  animation: blink 3s infinite alternate;
}
.random--wrapper {
  position: relative;
  margin-bottom: 0;
  padding-left: 4px;
  height: 50px;
  overflow: hidden;
}

.random--wrapper .neon--random {
  animation: shuffle steps(8) 9s infinite;
}

@keyframes shuffle {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-400px);
  }
  /* 10lines * 50 = 500px */
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.6;
  }
}
@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
  47% {
    opacity: 0.5;
  }
  48% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
  47% {
    opacity: 0.5;
  }
  48% {
    opacity: 1;
  }
}

.random--wrapper .neon--random:before,
.random--wrapper .neon--random:after {
  padding: 30px;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 5px #3d2692,
    0 0 5px rgba(133, 190, 243, 0.5), 0 0 6px #6646d8, 0 0 5px #6244cf,
    0 0 5px #7a66c2, 0 0 5px #6046be, 0 0 5px #634bbb;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  top: 0;
}
.random--wrapper .neon--random:before {
  left: 2px;
  text-shadow: -2px 0 red;
  animation: glitch-1 2s linear infinite reverse;
}
.random--wrapper .neon--random:after {
  left: -2px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}

@keyframes glitch-1 {
  0% {
    clip: rect(51px, auto, 10px, 30px);
  }
  5% {
    clip: rect(117px, auto, 34px, 30px);
  }
  10% {
    clip: rect(43px, auto, 33px, 3px);
  }
  15% {
    clip: rect(7px, auto, 42px, 3px);
  }
  20% {
    clip: rect(7px, auto, 61px, 3px);
  }
  25% {
    clip: rect(4px, auto, 14px, 3px);
  }
  30% {
    clip: rect(3px, auto, 24px, 3px);
  }
  35% {
    clip: rect(61px, auto, 17px, 33px);
  }
  40% {
    clip: rect(91px, auto, 130px, 33px);
  }
  45% {
    clip: rect(9px, auto, 4px, 33px);
  }
  50% {
    clip: rect(2px, auto, 17px, 3px);
  }
  55% {
    clip: rect(27px, auto, 12px, 3px);
  }
  60% {
    clip: rect(10px, auto, 15px, 33px);
  }
  65% {
    clip: rect(81px, auto, 115px, 33px);
  }
  70% {
    clip: rect(10px, auto, 13px, 33px);
  }
  75% {
    clip: rect(15px, auto, 5px, 3px);
  }
  80% {
    clip: rect(16px, auto, 39px, 3px);
  }
  85% {
    clip: rect(13px, auto, 73px, 3px);
  }
  90% {
    clip: rect(36px, auto, 18px, 3px);
  }
  95% {
    clip: rect(13px, auto, 13px, 3px);
  }
  100% {
    clip: rect(14px, auto, 10px, 3px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(19px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 14px, 3px);
  }
  10% {
    clip: rect(5px, auto, 66px, 3px);
  }
  15% {
    clip: rect(21px, auto, 31px, 3px);
  }
  20% {
    clip: rect(81px, auto, 38px, 13px);
  }
  25% {
    clip: rect(28px, auto, 22px, 13px);
  }
  30% {
    clip: rect(91px, auto, 54px, 13px);
  }
  35% {
    clip: rect(128px, auto, 31px, 3px);
  }
  40% {
    clip: rect(16px, auto, 34px, 3px);
  }
  45% {
    clip: rect(34px, auto, 43px, 3px);
  }
  50% {
    clip: rect(12px, auto, 20px, 3px);
  }
  55% {
    clip: rect(119px, auto, 44px, 33px);
  }
  60% {
    clip: rect(16px, auto, 29px, 33px);
  }
  65% {
    clip: rect(11px, auto, 14px, 33px);
  }
  70% {
    clip: rect(120px, auto, 118px, 3px);
  }
  75% {
    clip: rect(13px, auto, 19px, 33px);
  }
  80% {
    clip: rect(38px, auto, 52px, 33px);
  }
  85% {
    clip: rect(35px, auto, 39px, 31px);
  }
  90% {
    clip: rect(147px, auto, 70px, 33px);
  }
  95% {
    clip: rect(11px, auto, 13px, 33px);
  }
  100% {
    clip: rect(131px, auto, 14px, 33px);
  }
}
